@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary: #4831d4;
    --darkShade: #001037;
    --lemon: #f38196;
    --darkShade: #offWhite;
  }
}

html {
  scroll-behavior: smooth;
}

.border-animation-white {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.border-animation-white::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.border-animation-white:hover::after {
    width: 100%;
    /* //transition: width .3s; */
}

.border-animation-black {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.border-animation-black::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}

.border-animation-black:hover::after {
    width: 100%;
    /* //transition: width .3s; */
}

/* .swiper-wrapper{
    display:flex;
    align-items: center !important;
    .swiper-slide{
      img{
       width: 100%;
       height:400px;
       @media screen and (max-width:1200px) {
         height:200px;
       }
      }
    }
  }
 .swiper {
   
   overflow: hidden;
   position: relative;
   --v-offset: 60px;
   --curve-height: 120px;
 
   &:before,
   &:after {
     content: "";
     z-index: 99;
     display: block;
     background: white;
     width: calc(100vw + 2 * var(--v-offset));
     height: var(--curve-height);
     position: absolute;
     border-radius: 45%;
     left: calc(-1 * var(--v-offset));
     right: calc(-1 * var(--v-offset));
   }
 
   &:before {
     top: calc(-0.7 * var(--curve-height));
   }
   &:after {
     bottom: calc(-0.7 * var(--curve-height));
   }
 }
 
 .wrapper {
   display: grid;
   grid-template-rows: 300px;
   grid-auto-flow: column;
   grid-gap: 24px;
   overflow: auto;
   scroll-snap-type: x mandatory;
 
   img {
     scroll-snap-align: center;
    
   }
 } */
 